/* web/app/globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0b0c10;
}

.dark {
  --background: #0b0c10;
  --foreground: #f3f4f6;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.25s ease, color 0.25s ease;
}

/* tiny helper */
.bg-primary { background-color: oklch(0.6 0.2 110); }

html.dark {
  --background: #0b0c10;
  --foreground: #f3f4f6;
}